.title-dino {
    font-size: 28px;
    line-height: 36px;
    color: #fcfdfc;
    font-family: "Bungee", sans-serif;
    margin: var(--gap-big) 0;
  }

  @media (min-width:600px){
  .title-dino {
    font-size: 50px;
    line-height: 36px;
  }
}