.header-dino {
  display: flex;
  justify-content: center;
  position: relative;
  height: 42%;
  min-height: 275px;
  background: url(../../img/floor.png) bottom center/auto 160px repeat no-repeat,
    url(../../img/mountain1.png) bottom center/contain no-repeat,
    url(../../img/mountain2.png) bottom center/contain no-repeat,
    url(../../img/sky.png) top center/contain no-repeat var(--color-sky);
}

.header-dino .logo {
  position: absolute;
  top: var(--gap-medium);
  min-width: 250px;
  max-width: 290px;
  width: 70%;
}

.header-dino > .dininho {
  position: absolute;
  bottom: calc(var(--gap-big)+120px);
  width: 30px;
}
