body {
  background-image: linear-gradient(
    180.22deg,
    #7e5002 20.16%,
    #e69405 36.19%,
    #fad121 98.57%
  );
  background-repeat: no-repeat;
  background-color: #fad121;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #73263d;
  font-weight: bold;
}






